@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight:600;
    
}

a{
    text-decoration: none;
    color: white;
}


.btn{
    color: white;
    padding: 5px;
    border: transparent 1px solid;
    border-radius: 8px;
    box-shadow: none;
}

.btn-red{
    background-color: #ef6275;
    
}

.btn-redd{
    background-color: #ef6275;
    width: 100px;
    /* margin-right: 20px;
    margin-left: 20px; */
}

.btn-blue{
    background-color: #86d7f4;
    width: 100px;
}

.btn-green{
    background-color: #4ab5b5;
    width: 100px;
}



/* ///////////////////// First Part /////////////////////////////// */

.first {
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to right, #002F41, #2a5669);
    
}

.first .balls{
    filter: blur(10px);
    z-index: 0;
    display: inline;
    
    
    text-align: center;
    letter-spacing: 50px;    
}
.first .balls div{
    display: inline;
    
}
.first .balls :nth-child(1){
    position: relative;
    background-color: white ;
    opacity: 0.1;
    border: 1px white solid;
    border-radius: 50%;
    padding: 50px;
    margin: 50px;
    animation: moveit 10s linear infinite;
    animation-delay: 0s;
}
.first .balls :nth-child(2){
    position: relative;
    background-color: purple ;
    opacity: 0.1;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: 1px;
    animation: moveit 5s linear infinite;
    animation-delay: 0s;
}
.first .balls :nth-child(3){
    position: relative;
    background-color: yellow ;
    opacity: 0.1;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: -80px;
    animation: moveit 30s linear infinite;
    animation-delay: 0s;
}
.first .balls :nth-child(4){
    position: relative;
    background-color: blue ;
    opacity: 0.1;
    border: 1px white solid;
    border-radius: 50%;
    padding: 30px;
    margin: 5px;
    animation: moveit 19s linear infinite;
    animation-delay: 0s;
}
.first .balls :nth-child(5){
    position: relative;
    background-color: red ;
    opacity: 0.2;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: 10px;
    animation: moveit 8s linear infinite;
    animation-delay: 0s;
}
.first .balls :nth-child(6){
    position: relative;
    
    background-color: white ;
    opacity: 0.2;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: -50px;
    animation: moveit 40s linear infinite;
    animation-delay: 0s;
}
.first .balls :nth-child(7){
    position: relative;
    
    background-color: purple ;
    opacity: 0.2;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: -50px;
    animation: moveit 4s linear infinite;
    animation-delay: 0s;
}
@keyframes moveit{

    

    0%{
        top: -300px;
    }

    50%{
        top: 350px;
    }

    100%{
        top: -300px;
    }
}

.first img{
    z-index: 1;
    margin-top: 200px;
    width: 350px;
    
}
.first button{
    z-index: 1;
    margin-top: 220px;
}

.first .texts{
    z-index: 1;
    margin-top: 20px;
    text-align: center;
}

.first .texts p{
    color: white;
}

.first .texts :nth-child(2){
    margin-top: 5px;
    color: #26B6AE;
}

/* //////////////////////  Second Part ////////////////////////////// */



.second{
    /* min-width: 100vw; */
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    /* align-items: center; */
    width: 100%;
    background-color: #E0DED6;
}

.second #logo{
    width: 150px;
    margin-top:15px ;
    margin-left: 90px;
}

.second h3{
    font-weight: normal;
    text-align: center;
    margin-top: 90px;
}

#nucle{
    color:#26B6AE ;
    font-size: small;
    /* width: 400px; */
    text-align: center;
    margin: 20px 20% 20px 20%;
}

.second .second1{
    margin-top:50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100vw;
}

.second .second1 h4 {
    color: #26B6AE;
}

/* //////////// */

.second .second1 .a{
    text-align: right;
    width: 30%;
}
.second .second1 .a p{
    font-weight: 300;
    font-size: 10px;
    opacity: 0.7;
    line-height: 1.2em;
}
.second .second1 .a :nth-child(3){
    margin-top: 90px;
}

/* //////////// */


.second .second1 .b{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 20vw;
    
}


.second .second1 .b :nth-child(1){
    left: 33%;
    
    position: inline;
    width: 20vw;
    z-index: 0;
}

.second .second1 .b :nth-child(2){
    
    /* position: absolute; */
    
    
    position: absolute;
    left: 33%;
    width: 20vw;
    height: 350px;
    
    z-index: 1;
}
.second .second1 .b :nth-child(3){
    position: absolute;
    height: 160px;
    left: 33%;
    
    margin-top: 200px;
    z-index: 2;
    
}
.second .second1 .b :nth-child(4){
    position: absolute;
    width: 150px;
    left: 43%;
    margin-top: 320px;
    z-index: 2;
    
}



.second .second1 .c{
    width: 30%;
    
    
}

.second .second1 .c :nth-child(3){
    margin-top: 40px;
}

.second .second1 .c :nth-child(5){
    margin-top: 110px;
}


.second .second1 .c p{
    font-weight: 300;
    font-size: 10px;
    opacity: 0.7;
    line-height: 1.2em;
}

.second .balls{
    filter: blur(10px);
    z-index: 0;
    display: inline;
    
    
    text-align: center;
    letter-spacing: 50px;    
}
.second .balls div{
    display: inline;
    
}
.second .balls :nth-child(1){
    position: relative;
    background-color: grey ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 50px;
    margin: 50px;
    animation: moveit1 10s linear infinite;
    animation-delay: 0s;
}
.second .balls :nth-child(2){
    position: relative;
    background-color: grey ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: 80px;
    animation: moveit1 5s linear infinite;
    animation-delay: 0s;
}
.second .balls :nth-child(3){
    position: relative;
    background-color: grey ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 80px;
    margin: 50px;
    animation: moveit1 20s linear infinite;
    animation-delay: 0s;
}

@keyframes moveit1{

    

    0%{
        top: 100px;
    }

    50%{
        top: 400px;
    }

    100%{
        top: 100px;
    }
}

.ikibucuk{
    background-color: #F0F0F0;
}

.ikibucuk #logo{
    width: 150px;
    margin-top:15px ;
    margin-left: 90px;
    margin-bottom: 5px;
}

.third{
    background-color: #db9347;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;

}





.third .baslik{
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.third table{
   
   border-collapse: collapse;
   border-spacing: 0;
   margin-bottom: 100px;
}

.third .table th{
    
    font-style: normal;
    
   
}

.third thead i{
font-size: xx-large;
}
.third tbody i{
    font-size: x-small;
}

.third table thead th{
    /* border-left: 5px solid #db9347; */
    border-right: 10px solid #db9347;
    line-height: 2em;
    border-collapse: collapse;
    
}

.third table thead tr th:nth-child(1) {
    
    font-weight: lighter;
    font-size: small;
    padding-top: 25px ;
}

.third table thead tr :nth-child(2){
    background-image: url(img/features-header.png);
    height: 100px;
    width: 170px;
    
    
}
.third table thead tr :nth-child(3){
    background-image: url(img/features-header.png);
    height: 100px;
    width: 170px;
   
}
.third table thead tr :nth-child(4){
    background-image: url(img/features-header.png);
    height: 100px;
    width: 170px;
    
}

table>tbody{

    border-collapse: collapse;
    
}

table tbody tr th{
    
    font-weight: lighter;
    font-size: small;
    background-color: white;
    padding-left: 10px ;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350px;
       
}




table>tbody>tr:nth-child(2n)> :first-child {
    background-color: #cccd;
    text-align: left;
}

table>tbody>tr:nth-child(2n+1)>:first-child{
    background-color: #f9f9f9;
    text-align: left;
}



table>tbody>tr:nth-child(2n)>:nth-child(2){
    background-color: #d3f0fb;
}

table>tbody>tr:nth-child(2n+1)>:nth-child(2){
    background-color: #a7e1f8;
}



table>tbody>tr:nth-child(2n)>:nth-child(3){
    background-color:#bfe9e9 ;
}

table>tbody>tr:nth-child(2n+1)>:nth-child(3){
    background-color: #7fd3d4;
}


table>tbody>tr:nth-child(2n)>:nth-child(4){
    background-color: #f5d5dc;
}

table>tbody>tr:nth-child(2n+1)>:nth-child(4){
    background-color: #ecacb8;
}



.third td{
    
    /* border-left: 5px solid #db9347; */
    border-right: 10px solid #db9347;
    text-align: center;   
}

.third th{
    border-right: 10px solid #db9347 ;
}

.third tfoot td{
    background-color: white;
    height: 80px;
}


.third .balls div{
    display: inline;
    filter: blur(15px);
    
}
.third .balls :nth-child(1){
    position: relative;
    background-color: red ;
    opacity: 0.3;
    border: 1px white solid;
    border-radius: 50%;
    padding: 90px;
    margin: -30px;
    animation: moveit2 10s linear infinite;
    animation-delay: 0s;
}
.third .balls :nth-child(2){
    position: relative;
    background-color: green ;
    opacity: 0.3;
    border: 1px white solid;
    border-radius: 50%;
    padding: 120px;
    margin: 0px;
    animation: moveit2 20s linear infinite;
    animation-delay: 0s;
}
.third .balls :nth-child(3){
    position: relative;
    background-color: yellow ;
    opacity: 0.6;
    border: 1px white solid;
    border-radius: 50%;
    padding: 50px;
    margin: -50px;
    animation: moveit2 5s linear infinite;
    animation-delay: 0s;
}
.third .balls :nth-child(4){
    position: relative;
    background-color: blue ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 180px;
    margin: -15px;
    animation: moveit2 15s linear infinite;
    animation-delay: 0s;
}
.third .balls :nth-child(5){
    position: relative;
    background-color: peru ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 250px;
    margin: -25px;
    animation: moveit2 5s linear infinite;
    animation-delay: 0s;
}
.third .balls :nth-child(6){
    position: relative;
    background-color: red ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 50px;
    margin: -100px;
    animation: moveit 5s linear infinite;
    animation-delay: 0s;
}
.third .balls :nth-child(7){
    position: relative;
    background-color: yellew ;
    opacity: 0.4;
    border: 1px white solid;
    border-radius: 50%;
    padding: 50px;
    margin: 0px;
    animation: moveit2 10s linear infinite;
    animation-delay: 0s;
}
@keyframes moveit2{

    

    0%{
        top: 150px;
    }

    50%{
        top: 700px;
    }

    100%{
        top: 150px;
    }
}

.fourth{
    min-height: 100vh;
    background: linear-gradient(to bottom, purple, #d13096
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.fourth p{
    width: 90%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.fourth .fourth1{
    margin-top: 60px;
    width: 83%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.fourth .fourth2{
    margin-top: 30px;
    width: 83%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}







.fourth1 img{
    padding: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;


}


.fourth p:nth-child(1){
    margin-top: 100px;
}


.fourth p:nth-child(4){
    margin-top: 100px;
}


.fourh a:nth-child(5){
    display: flex;
    text-align: center;
    justify-content: center;
}

.fourth a:nth-child(5){
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;

}

/* ////////////////////////////////////// */

.tuto {
    min-height: 100vh; 
    background-color:#e3e2dd;
    display:flex;
    justify-content: space-between;

}

.vertical-line {
    border-left:2px solid #b72e1b;
    min-height: 100%; 
    position: relative;
    left:100px;
    width: 20%;
}

.left {

    min-height :100vh;
    padding-top:30px;
    text-align:right;
    margin-left: 50px;
    width:40%;
    position:relative;
    left: 48px;
}


.right {
    min-height :100vh;
    text-align:center;
    width:40%;
    padding-left: 15px;
    position: relative;
    right: 122px;

}
img.nucleus{
    height: 380px;
    width:380px;


}
.left>h2 {
    color:#db597d;
    text-align: right;
    margin-top:40px;
    font-family: 'Raleway', sans-serif;
    font-size:24px;
    font-weight: bold;
}

.left>p {
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    text-align: right;
    line-height:30px;

}

.right>h2 {
    color:#db597d;
    text-align: left;
    margin-top:40px;
    font-family: 'Raleway', sans-serif;
    font-size:24px;
    font-weight: bold;

}

.right>p {
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    text-align: left;
    line-height:30px;
}

.lastpage{
    background-color: yellowgreen;
    min-height: 100vh;
}

.lastpage h2:nth-child(1){
    color: white;
    text-align: center;
    font-size: 32px;
    padding-top: 46px;
    padding-bottom: 56px;
    
}

.lastpage p:nth-child(2){
    color: white;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5em;

}

.lastpage .lastpage1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.lastpage .lastpage1 img:nth-child(1),.lastpage .lastpage1 img:nth-child(3){
    height: 250px;
}

.lastpage .lastpage1 img:nth-child(2){
    height: 300px;
    margin-right: -90px;
    margin-left: -90px;
    z-index: 1;
}

.lastpage button{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}